<%= form_tag('/upload', multipart: true) do %>
  <%= file_field_tag 'file' %>

  <br>
  <%= check_box_tag('permission_download', true, true) %>
  Download

  <br>
  <%= check_box_tag('permission_rename', true, true) %>
  Rename

  <br>
  <%= check_box_tag('permission_delete', true, true) %>
  Delete

  <br>
  <%= submit_tag 'Submit' %>
<% end %>