<%= form_tag({action: 'create'}, multipart: true) do %>
  <%= file_field_tag 'file' %>

  <br>
  <%= submit_tag 'Submit' %>
<% end %>

<% @files.each do |file| %>

  <%= file.name %>
  <%= link_for_download(file) %>
  <%= link_for_delete(file) %>
  <br>

<% end  %>