<%= form_for :upload, url: server_path(@file.id), method: :patch do |f| %>

  <%= @file.name %>
  <%= f.check_box :permission_download %>
  <%= f.check_box :permission_delete %>
  <%= f.submit "Update" %>

<% end %>